.swiper-button-next,.swiper-button-prev {
    color: white;
} 

.swiper-pagination-bullet{
   display: none;
} 

@media (max-width:600px) {

.swiper-button-next,.swiper-button-prev {
    height: 5vw;
    width: 5vw;
} 

.swiper-button-next,.swiper-button-prev {
       display: none;
   } 

.swiper-pagination-bullet{
       display:inline-block;
       background-color: white;
   }

.swiper-pagination-bullet-active {
      background-color: rgb(255, 221, 0); /* Change this to your desired active color */
    }   
  
   
}


